.MainSection {
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.MainSection_content {
    position: relative;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 83.8%;
    width: 60%;
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
}

.MainSection_background {
    position: fixed;
    top: 0;
    z-index: -3;
    background-color: rgb(26, 0, 45);
    height: 100%;
    width: 100%;
    /* filter: blur(7px) brightness(0.6) contrast(1.4); */
    /* opacity: 0.8; */
}

.MainSection_background--overlay {
    position: fixed;
    top: 0;
    z-index: -2;
    height: 100vh;
    width: 100%;
    opacity: 0.5;
    background-color: black;
}

.MainSection h2 {
    margin: 0;
    padding: 0;
}